
@keyframes go{
    from{ 
        transform: translateX(-50%) ;opacity: 0;
    }
    to{
        transform: translateX(0%); opacity: 1;
    }
}
@keyframes go-away{
    from{
        transform: translateX(0%); opacity: 1;
    }
    to{
        transform: translateX(-110%); opacity: 0;
    }
}
@keyframes slide_in_left{
    0%{
        transform: translateX(-49%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes slide_in_right{
    0%{
        transform: translateX(50%);
    }
    100%{
        transform: translateX(-1%);
    }
}

@keyframes bounce{
    0%{
        transform: translateY(3%);
    }
    50%{
        transform:translateY(-3%);
    }
    100%{
        transform:translateY(3%)

    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

 @keyframes spins {
    
 }


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #201b1b;
    overflow-x: hidden;
}
.header{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;    
    position: fixed;
    top: 7%;
    left: 50%;
    z-index: 10;
}
.navbar{
    position: fixed;
    width: 90%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 3px solid #949494;
    border-radius: 100px;
    z-index: 10;
    
}
nav.scrolled {
    background-color: rgba(0, 0, 0, 0); /* More transparent background on scroll */
    backdrop-filter: blur(0px);
  }
.nav_elements{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    text-decoration: none;
    border: 2px;
    border-radius: 4px;
}
#nav_element1:hover,#nav_element2:hover,#nav_element3:hover,#nav_element4:hover,#nav_element5:hover,#nav_element6:hover{
    background-color: ;
    zoom: 110%  ; 
    box-shadow: 0px 0px  30px rgb(0, 128, 13);

}
#nav_element1,#nav_element2,#nav_element3,#nav_element4,#nav_element5,#nav_element6{
    margin-top: 0%;
    margin-right: 2%;
    margin-right: 2%;
}
#logo{
    width: 13%;
    margin: 10px;
}
.bg{
    position: relative;
    top: 20vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.aadhacircle img{
    width: 70%;
    position: relative;
    top: 0vh;
}
.aadhacircle{
    width: 30%;
    position: relative;
    top: 32vh;
}
.bouncing_graphics{
    display: flex;
    position: relative;
    top: 10vh;
    left: vw;
    width: 70%;
}
.circle{
    width: 55%;
    position: relative;
    top:0vh ;
    left:2vw ;
    animation: spin 12s infinite ease-in;
}
.dr_strange1{
    width: 75%;
    z-index: 1;
    position: relative;
    left: -43.5vw;
    top: -3vh;
    animation: bounce 4s infinite ease-in-out;
}
.badal img{
    z-index: 2;
    position: relative;
    top: -6vh;
    left: 0vw;
    width: 140%;
}
.badal{
    max-width: fit-content;
    max-height: fit-content;
}
.mobile-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0vh;
    width: 30%;
    height: 90vh;
    background-color: grey;
    opacity: 0;
    transform: translateX(-110%);
}
.mobile_nav_elements{
    text-decoration: none;
    fonts-size: ;
    padding: 2vh;
    margin: 2vh;
    border-radius: 4px;
    color: black;
}
.mobile_nav_elements:active{
    background-color: black;
    zoom: 120%;
    color: white;
}
.mobile-menu.show {
    transform: translateX(0);
    opacity: 1;
    animation: go 0.5s ease-in-out forwards ; /* Add animation for slide-in effect */
  }
  .mobile-menu.show-out {
    animation: go-away  0.5s ease-in-out forwards ;
  }
@media (max-width:2700px){
    .mobile-menu{
        visibility: hidden;
        height: 0%;
    }
    .mobile_nav_elements{
        visibility: hidden;
        height: 0%;
    }
    .button{
        visibility: hidden;
        height: 0%;
    }

    .navbar{

    }
    .nav_elements{
        font-size: 300%;
    }
    #logo{
        width: 20%;
    }
    .aadhacircle img{
        width: 79%;
        
    }
    .circle{
        top: -11vh;

    }
    .dr_strange1{
        top: -14vh;
        left: -35.5vw;
    }
    .badal img{
        width: 253%;

    }
}

@media (max-width:1500px){
    .mobile-menu{
        visibility: hidden;
        height: 0%;
    }
    
    .mobile_nav_elements{
        visibility: hidden;
        height: 0%;
    }
    .button{
        visibility: hidden;
        height: 0%;
    }
    .navbar{

    }
    .nav_elements{

    }
    #logo{

    }
    .aadhacircle img{
        width: 121%;

        
    }
    .bouncing_graphics{
        width: 48%;
    }
    .circle{
        width: 138%;
        top: -6vh;
        left: 14vw;

    }
    .dr_strange1{
        width: 138%;
        left: -51.5vw;

    }
    .badal img{
        
    }
}

@media (max-width:1024px){
    .mobile-menu{
        visibility: hidden;
        height: 0%;
    }
    
    .mobile_nav_elements{
        visibility: hidden;
        height: 0%;
    }
    .button{
        visibility: hidden;
        height: 0%;
    }
    .navbar{

    }
    .nav_elements{

    }
    #logo{

    }
    .aadhacircle img{
        width: 170%;
        top: -55vh;
    }
    .bouncing_graphics{
        width: 68%;
    }
    .circle{
        left: 52vw;
        width: 145%;
        top: -85vh;

    }
    .dr_strange1{
        left: -44.5vw;
        top: -98vh;

    }
    .badal img{
        top: -114vh;
        
    }
}

@media (max-width:768px){
    .mobile-menu{
        visibility: hidden;
        height: 0%;
    }
    
    .mobile_nav_elements{
        visibility: hidden;
        height: 0%;
    }
    .button{
        visibility: hidden;
        height: 0%;
    }
    .navbar{

    }
    .nav_elements{
        font-size: 250%;

    }
    #logo{
        width: 24%;

    }
    .aadhacircle img{
        
    }
    .circle{

    }
    .dr_strange1{

    }
    .badal img{
        
    }
}

@media (max-width:650px){
    .mobile-menu{
        visibility: hidden;
        height: 0%;
    }
    .button{
        visibility: hidden;
        height: 0%;
    }
    
    .mobile_nav_elements{
        visibility: hidden;
        height: 0%;
    }
    .navbar{

    }
    .nav_elements{
        font-size: 160%;

    }
    #logo{
        width: 30%;

    }
    .aadhacircle img{
        top: -85vh;
    }
    .circle{

    }
    .dr_strange1{
        top: -93vh;
        left: -45.5vw;
    }
    .badal img{
        top: -114vh;
        
    }
}
@media (max-width:460px){
   
    .navbar{
        border: hidden;
        width: 50%;

    }
    #nav_element1,#nav_element2,#nav_element3,#nav_element4,#nav_element5,#nav_element6{
        visibility: hidden;
        height: 0;  
        font-size: 0%;
    }
    #logo{
        width: 88%;

    }
    .aadhacircle img{
        top: -67vh;
        width: 188%;
    }
    .badal img{
        top: -88vh;
        left: 0vw;
    }
    .mobile-menu{
        visibility: visible;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: 0vh;
        width: 60%;
        height: 90vh;
        background-color: black;
        opacity: 0;
        transform: translateX(-110%);
        z-index: -99;
    }
    .button{
        visibility: visible;
        background-color: transparent;
        border: none;
    }
    .button svg{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: purple;
        border-radius: 5px;
        visibility: visible;
        position: relative;
        top: 12vh;
        left: 10vh;
        scale: 2;
    }
    .mobile_nav_elements{
        visibility: visible;
        text-decoration: none;
        fonts-size: ;
        padding: 2vh;
        margin: 2vh;
        border-radius: 4px;
        color: white;
    }
    .mobile_nav_elements:active{
        background-color: black;
        zoom: 120%;
        color: red;
        z-index: 99;
    }
    .mobile-menu.show {
        z-index: 99;
        transform: translateX(0);
        opacity: 1;
        animation: go 0.5s ease-in-out forwards ; /* Add animation for slide-in effect */
      }
      .mobile-menu.show-out {
        animation: go-away  0.5s ease-in-out forwards ;
      }
}

@media (max-width:420px){
   
    .navbar{
        border: hidden;
        width: 50%;

    }
    #nav_element1,#nav_element2,#nav_element3,#nav_element4,#nav_element5,#nav_element6{
        visibility: hidden;
        height: 0;  
        font-size: 0%;
    }
    #logo{
        width: 88%;

    }
    .aadhacircle {
        top: -102vh;
        /*width: 188%;*/
    }
    
    .aadhacircle img{
        top: 24vh;
        width: 203%;
    }
    .bouncing_graphics{
        width: 70%;
        top: -92vh;
        left: 32vw;
    }
    .circle{
        width: 197%;
        top: 0vh;
        left: 0vw;
    }
    .dr_strange1{
        width: 230%;
        top: -3vh;
        left:-151vw ;

    }
    
    .badal img{
        top: -112vh;
        left: 0vw;
    }
    .mobile-menu{
        visibility: visible;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: 0vh;
        width: 70%;
        height: 90vh;
        background-color: grey;
        opacity: 0;
        transform: translateX(-110%);
        z-index: -99;
    }
    .button svg{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: purple;
        border-radius: 5px;
        visibility: visible;
        position: relative;
        top: 12vh;
        left: 10vh;
        scale: 2;
    }
    .button{
        background-color: transparent;
        border: none;
    }
    .mobile_nav_elements{
        visibility: visible;
        text-decoration: none;
        fonts-size: ;
        padding: 2vh;
        margin: 2vh;
        border-radius: 4px;
        color: black;
    }
    .mobile_nav_elements:active{
        background-color: black;
        zoom: 120%;
        color: white;
        z-index: 99;
    }
    .mobile-menu.show {
        z-index: 99;
        transform: translateX(0);
        opacity: 1;
        animation: go 0.5s ease-in-out forwards ; /* Add animation for slide-in effect */
      }
      .mobile-menu.show-out {
        animation: go-away  0.5s ease-in-out forwards ;
      }
}

